<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<fraud_protection>
			<sift>
				<paymentMethods><![CDATA[[
    {
        "mCode": "authorizenet_directpost",
        "sType": "credit_card",
        "sGateway": "authorizenet"
    }
]]]></paymentMethods>
			</sift>
		</fraud_protection>
    </default>
</config>