<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<fraud_protection>
			<sift>
				<pm><![CDATA[[
	{"mCode": "authorizenet_directpost", "sType": "credit_card", "sGateway": "authorizenet"},
	{"mCode": "braintree_paypal", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "braintree_cc_vault", "sType": "credit_card", "sGateway": "braintree"},
	{"mCode": "braintree_paypal_vault", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "purchaseorder", "sType": "electronic_fund_transfer"},
	{"mCode": "hosted_pro", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "paypal_express_bml", "sType": "financing", "sGateway": "paypal_express"},
	{"mCode": "payflow_express_bml", "sType": "financing", "sGateway": "paypal"},
	{"mCode": "paypal_billing_agreement", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "paypal_express", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "braintree", "sType": "credit_card", "sGateway": "braintree"},
	{"mCode": "free", "sType": "gift_card"},
	{"mCode": "payflow_link", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "payflow_advanced", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "payflowpro", "sType": "credit_card", "sGateway": "paypal"},
	{"mCode": "checkmo", "sType": "check"},
	{"mCode": "cashondelivery", "sType": "cash"},
	{"mCode": "banktransfer", "sType": "electronic_fund_transfer"},
	{"mCode": "payflowpro_cc_vault", "sType": "credit_card", "sGateway": "paypal"}
]]]></pm>
			</sift>
		</fraud_protection>
    </default>
</config>