<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'
>
<!-- 2020-02-06 `customer_login`
1) @used-by \Magento\Customer\Model\Session::setCustomerAsLoggedIn():
	$this->_eventManager->dispatch('customer_login', ['customer' => $customer]);
https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Customer/Model/Session.php#L413
https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Customer/Model/Session.php#L438
2) @used-by \Magento\Customer\Model\Session::setCustomerDataAsLoggedIn()
	$this->_eventManager->dispatch('customer_login', ['customer' => $customerModel]);
https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Customer/Model/Session.php#L432
https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Customer/Model/Session.php#L459
-->
	<event name='customer_login'>
		<observer instance='Dfe\Sift\Observer\Customer\Login' name='Dfe\Sift\Observer\Customer\Login'/>
	</event>
<!-- 2020-02-10 `customer_logout`
@used-by \Magento\Customer\Model\Session::logout():
	if ($this->isLoggedIn()) {
		$this->_eventManager->dispatch('customer_logout', ['customer' => $this->getCustomer()]);
		$this->_logout();
	}
https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Customer/Model/Session.php#L455-L469
https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Customer/Model/Session.php#L482-L496 -->
	<event name='customer_logout'>
		<observer instance='Dfe\Sift\Observer\Customer\Logout' name='Dfe\Sift\Observer\Customer\Logout'/>
	</event>
<!-- 2020-02-06 `customer_register_success`
@used-by \Magento\Customer\Controller\Account\CreatePost::execute():
	$this->_eventManager->dispatch('customer_register_success', [
		'account_controller' => $this, 'customer' => $customer
	]);
https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Customer/Controller/Account/CreatePost.php#L239-L242
https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Customer/Controller/Account/CreatePost.php#L367-L371
-->
	<event name='customer_register_success'>
		<observer
			instance='Dfe\Sift\Observer\Customer\RegisterSuccess'
			name='Dfe\Sift\Observer\Customer\RegisterSuccess'
		/>
	</event>
<!-- 2020-02-01 `sales_order_place_after`
@used-by \Magento\Sales\Model\Order::place():
	$this->_eventManager->dispatch('sales_order_place_after', ['order' => $this]);
https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Sales/Model/Order.php#L1061
https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Sales/Model/Order.php#L1191
2020-02-04
This event is fired:
	*) in the `webapi_rest` scope (not `frontend`) for a frontend order,
	*) in the `adminhtml` scope for a backend order.
I pass to Sift frontend orders only. -->
	<event name='sales_order_place_after'>
		<observer instance='Dfe\Sift\Observer\Sales\OrderPlaceAfter' name='Dfe\Sift\Observer\Sales\OrderPlaceAfter'/>
	</event>
<!-- 2020-01-31 `sales_quote_product_add_after`
@used-by \Magento\Quote\Model\Quote::addProduct():
	$this->_eventManager->dispatch('sales_quote_product_add_after', ['items' => $items]);
https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Quote/Model/Quote.php#L1631
https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Quote/Model/Quote.php#L1694
2020-02-04
This event is fired:
	*) in the `frontend` or `webapi_rest` scope for a frontend customer,
	*) in the `adminhtml` scope for a backend order. -->
	<event name='sales_quote_product_add_after'>
		<observer instance='Dfe\Sift\Observer\Quote\ProductAddAfter' name='Dfe\Sift\Observer\Quote\ProductAddAfter'/>
	</event>
</config>