<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
<!-- 2020-02-06, 2020-02-10 It handles the `login` event. -->
	<type name='Magento\Customer\Api\AccountManagementInterface'>
		<plugin
			name='Dfe\Sift\Plugin\Customer\Api\AccountManagementInterface'
			type='Dfe\Sift\Plugin\Customer\Api\AccountManagementInterface'
		/>
	</type>
	<type name='Magento\Customer\CustomerData\Customer'>
<!-- 2020-01-24, 2020-02-10 It provides the customer ID to the frontend part. -->
		<plugin disabled='false' name='Df\Customer\Js\CustomerId'/>
<!-- 2020-02-10 It provides `siftSessionId` to the frontend part. -->
		<plugin
			name='Dfe\Sift\Plugin\Customer\CustomerData\Customer'
			type='Dfe\Sift\Plugin\Customer\CustomerData\Customer'
		/>
	</type>
<!-- 2020-02-11
1) It handles the `update_password` event for Magento < 2.1.0.
2) It is used in the frontend area only
because Magento 2 does not have a built-in ability to force a customer to change his password.
3) @see \Magento\Customer\Controller\Adminhtml\Index\ResetPassword::execute()
does not resets the customer's password: it just reminds it to the customer:
		$this->customerAccountManagement->initiatePasswordReset(
			$customer->getEmail(),
			\Magento\Customer\Model\AccountManagement::EMAIL_REMINDER,
			$customer->getWebsiteId()
		);
 https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Customer/Controller/Adminhtml/Index/ResetPassword.php#L28-L32
 https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Customer/Controller/Adminhtml/Index/ResetPassword.php#L42-L46
4) A version with a backend handler: https://github.com/dmitry-fedyuk/sift/tree/0.2.6-backend -->
	<type name='Magento\Customer\Model\AccountManagement'>
		<plugin
			name='Dfe\Sift\Plugin\Customer\Model\AccountManagement'
			type='Dfe\Sift\Plugin\Customer\Model\AccountManagement'
		/>
	</type>
<!-- 2020-02-11
1) It handles the `update_password` event for Magento ≥ 2.1.0.
2) It is used in the frontend area only
because Magento 2 does not have a built-in ability to force a customer to change his password.
3) @see \Magento\Customer\Controller\Adminhtml\Index\ResetPassword::execute()
does not resets the customer's password: it just reminds it to the customer:
		$this->customerAccountManagement->initiatePasswordReset(
			$customer->getEmail(),
			\Magento\Customer\Model\AccountManagement::EMAIL_REMINDER,
			$customer->getWebsiteId()
		);
 https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Customer/Controller/Adminhtml/Index/ResetPassword.php#L28-L32
 https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Customer/Controller/Adminhtml/Index/ResetPassword.php#L42-L46
4) A version with a backend handler: https://github.com/dmitry-fedyuk/sift/tree/0.2.6-backend -->
	<type name='Magento\Customer\Model\EmailNotificationInterface'>
		<plugin
			name='Dfe\Sift\Plugin\Customer\Model\EmailNotificationInterface'
			type='Dfe\Sift\Plugin\Customer\Model\EmailNotificationInterface'
		/>
	</type>
</config>