<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
<!-- The «Sales» → «Fraud Protection» section has been added in Magento 2.3.0 for the `Magento_Signifyd` module:
https://github.com/magento/magento2/blob/2.3.0/app/code/Magento/Signifyd/etc/adminhtml/system.xml#L10-L13
https://github.com/magento/magento2/commit/2008b357
https://devdocs.magento.com/guides/v2.3/payments-integrations/signifyd/signifyd.html
As the section is absent in Magento ≤ 2.3, I duplicate its declaration here. -->
		<section
			id='fraud_protection'
			showInDefault='1' showInStore='1' showInWebsite='1'
			sortOrder='410'
			translate='label'
			type='text'
		>
			<label>Fraud Protection</label>
			<resource>Magento_Sales::fraud_protection</resource>
			<tab>sales</tab>
			<group 
				id='sift'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='9'
				type='text'
			>
				<dfExtension>Dfe_Sift</dfExtension>
				<fieldset_css>df-config</fieldset_css>
				<group
					id='about'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label comment'
				>
					<comment><![CDATA[Sift automatically reviews your orders for fraud,
telling you in seconds which orders to ship, and which to reject.
<p>Benefits:</p>
<ul>
	<li>Grow your business without fear of fraud</li>
	<li>Accept more orders and maximize your revenue</li>
	<li>Automate order review and shift fraud off your plate</li>
</ul>
<a href='https://mage2.pro/c/extensions/sift' target='_blank'>Ask a question</a>
<a href='https://github.com/mage2pro/sift/issues/new' target='_blank'>Report an issue</a>]]></comment>
<!-- 2020-01-23
The whole `sift` group is not shown for an unknown reason if the `<frontend_model>` tag is not specified -->
					<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
					<label>Protect your store from fraud with Fraud Protection by Sift</label>
				</group>
				<group
					id='config'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label comment'
				>
					<label>Configuration</label>
					<field
						id='enable'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/sift' target='_blank'>Sift</a>» module?]]></comment>
						<config_path>fraud_protection/sift/enable</config_path>
						<label>Enable?</label>
					</field>
					<field
						id='test'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[If you enable it here, then <a href='https://mage2.pro/t/6090' target='_blank'>enable it in the Sift console</a> too.]]></comment>
						<config_path>fraud_protection/sift/test</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Sandbox Mode?</label>
					</field>
					<field
						id='testBeaconKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[<a href='https://mage2.pro/t/6089' target='_blank'>How to get it?</a>]]></comment>
						<config_path>fraud_protection/sift/testBeaconKey</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>1</field>
						</depends>
						<label>Sandbox Beacon Key</label>
					</field>
					<field
						id='liveBeaconKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[<a href='https://mage2.pro/t/6091' target='_blank'>How to get it?</a>]]></comment>
						<config_path>fraud_protection/sift/liveBeaconKey</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>0</field>
						</depends>
						<label>Production Beacon Key</label>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>